.search-wrapper {
    border: 1px solid black;
    width: 800px;
    height: 100%;
    margin-left: 250px;
    margin-top: 40px;
}

.search-title {
    text-align: center;
}

.search-bar {
    width: 80%;
    margin-bottom: 25px;
    margin-left: 75px;
}